<!--Modificar la página principal para que, si el usuario ha iniciado sesión, se muestren únicamente los tweets de las personas que sigue-->

<!-- Verificamos que el usuario este logeado para poder crear tweets y seguir amigos -->
<% if  user_signed_in?%>
    <%= render 'form', tweet: @tweet %>
<%end %>  

    <%= render "shared/friends" %>



<% @tweets.each do |tweet| %>

    <div class="card col-md-6 mb-3 bg-light tweet-list">
        <div class="row no-gutters">
            <div class="col-md-2 py-4"> 
                <img src="<%= tweet.user&.user_photo %>"width="80" height="80" class="rounded-circle mb-2 mx-4" >  
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-user pr-8"><%= tweet.user.user_name %> .
                        <small class="text-muted display-12"><%= link_to time_ago_in_words(tweet.created_at),tweet %></small>
                    </h5>
                    <p class="card-text">
                    <% content_tweet_array = tweet.content.split%>
                    <% content_tweet_array.each do |element|%>
                        <% if element.start_with?("#") %>
                            <% element.slice!(0) %>
                            <a href="?hashtag=<%= element %>">#<%= element %></a>
                        <% else %>
                        <%= element %>
                        <% end %>
                    <% end %>  
                    </p>  
                </div>
            </div>
            <% if user_signed_in? %>
                <div class="col-md-2">
                <small class="text-muted"><%= link_to 'Show', tweet %></small>
                <% if tweet.user_id == current_user.id %>
                    <small class="text-muted"><%= link_to 'Edit', edit_tweet_path(tweet) %></small>
                    <small class="text-muted"><%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' }  %></small>
                <%end%>
                </div>
            <%end%>
        </div>

        <div class="row">
            <div class="col-md-4">
                <% if !tweet.rt_ref.nil? %>
                    <small class="text-muted ms-4"><%= link_to "#{tweet.user.user_name} lo retwitteó", tweet.retweet_ref %></small>
                <% end %>
            </div>

            <div class="col-md-4">
                <%= link_to retweet_tweet_path(tweet), data: { confirm: 'do you want to retweet'}, method: :post do %>
                    <span class="icon"><i class="fas fa-retweet fa"></i></span>
                <% end %>
                <%= tweet.retweet %>     
            </div>


                <%= tweet.likes.count %>
                <% if user_signed_in? %>
                    <div class="col-md-2">
                        <% if like(tweet, current_user) %>
                            <%= link_to tweet_like_path(tweet,like(tweet, current_user)), method: :delete do %>
                                <span class="icon-danger"><i class="fas fa-heart fa"></i></span>
                            <%end%>  
                    </div>

                        <% else  %>
                    <div class="col-md-2">
                            <%= link_to tweet_likes_path(tweet), method: :post do %>
                                <span class="icon-white"><i class="far fa-heart fa"></i></span>
                            <%end%>
                    </div>  
                        <%end%>
                <%end%>
        </div>
    </div>
</div>
<% end %>


<div class="text-center"><%= link_to_next_page @tweets, '>>Show More Tweets' %> |
    <%= link_to_prev_page @tweets, '<<Show Previous Tweets' %>
</div>





